.outer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
  max-width: 600px;
  padding: 20px;
}

.ui-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
